@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$alpha: #3e5055;
$beta: #388da8;

$custom-colors: (
    "alpha": $alpha,
    "beta": $beta,
);

$theme-colors: map-merge($custom-colors , $theme-colors );

$spacer: 0.5rem;

@for $i from 1 through 50 {
  $spacers: map-merge($spacers, ($i : $spacer * $i) );
}

$b-rounded: 20px;
$b-rectangle: 5px;


$border: 0.5px solid black;





